.header-box {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
}

.logo span {
    padding-left: 15px;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.nav span a {
  color: black;
  padding-left: 20px;
}
