.header-box {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo span {
    padding-left: 15px;
    color: MediumAquamarine;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

a {
  color: black;
  padding-left: 20px;
}

div {
  border: 1px dashed red;
}
